################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SamuraiApp.Console
/SamuraiApp.Data
/SamuraiApp.Domain
/SamuraiApp.Tests
/SamuraiApp.UI
